html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.title {
  font-size: 120px;
  padding-left: 63px;
  line-height: 0.95;
}

.title-top {
  background-image: linear-gradient(45deg, #1729ca, #d1a3f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  padding-top: 86px;
}

.title-bottom {
  color: #fff;
}

.description-text {
  font-size: 30px;
  width: 40%;
  padding-left: 63px;
  padding-top: 70px;
}

.arrow-img {
  padding-left: 63px;
}